.post-create {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.post-create-wrapper {
  display: flex;
  height: calc(100vh - 60px);
  padding-inline: 1rem;
  padding-bottom: 3rem;
  flex-direction: column;
  justify-content: space-between;
}
