.notification-container {
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  color: #393939;
  padding-inline: 1rem;

  .period-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
  }
}

.notification-container>div:last-child{
  border-bottom: 1px solid #eeeeee;
}