.add-image {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  .add-image-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1rem;

    .add-image-name {
      display: flex;
      justify-content: flex-end;
      width: 300px; 
      margin: 0 1rem;
      font-size: 0.8rem;
      color: #393939;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
    }

    .post-page-button {
      width: 5rem;
      height: 1.5rem;
      font-size: 0.8rem;
    }
  }
}
