.notification-item-container {
  display: flex;
  padding: 1rem 0;
  cursor: pointer;

  &:hover {
    background-color: #eeeeee;
  }

  .notification-item {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: .5rem ;

    .notification-text-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 1rem;

      .notification-text {
        font-size: 1rem;
      }

      .notification-time {
        font-size: 0.8rem;
      }
    }
  }
}
