.post-collection {
  display: flex;
  margin-block: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.sort-options {
  display: flex;
  width: 8.5rem;
  height: 2.5;
  padding-inline: 0.3rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  background-color: #eee;
  gap: 5px;
  font-size: 13px;
  cursor: pointer;
}

.collection-title {
  display: flex;
  width: 8rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: #eee;
  cursor: pointer;
}

.collected-title {
  display: flex;
  width: 6.4rem;
  height: 1.8rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.popular,
.latest {
  display: flex;
  width: 5rem;
  height: 1.8rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.popular.active {
  background-color: #fff;
}

.latest.active {
  background-color: #fff;
}

.collection-title.active {
  .collected-title {
    background-color: #fff;
  }
}
