.read-button-container {
  display: flex;
  justify-content: flex-end;
  color: #393939;

  .read-button {
    width: 6rem;
    height: 2rem;
    font-size: 0.9rem;
    background-color: #eeeeee;
    border-radius: 5px;

    &:active {
      background-color: #7d7d7d;
      color: #ffffff;
    }
  }
}
