.post-card {
  display: flex;
  padding-inline: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  border-top: 1px solid #eeeeee;
  width: 100%;
  transition: box-shadow 0.3s;
}

.body.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
}

.post-card .title {
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  text-align: left;
  font-weight: 500;
}

.post-card .category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  color: #7d7d7d;
  width: 100%;
}

.post-card img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.post-card .body {
  width: 100%;
  margin-block: 10px 35px;
  font-size: 16px;
}

.category_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
}

.category_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
}

.right_icon {
  display: flex;
  align-items: center;
  margin-left: 5px;
  svg {
    margin-right: 2px;
  }
}

.post-time {
  margin-left: 5px;
}
