.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  order: none;
  border-top: 1px solid #eeeeee;
  width: 100%;
  margin-bottom: 20px;
  transition: box-shadow 0.3s;
}

.body.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2; 
}

.post-card .title {
  font-family: 'NotoSansKR';

  font-size: 24px;
  text-align: left;
  width: 100%;
  padding-top: 20px;
  font-weight: 500;
}

.post-card .category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  color: #7d7d7d;
  margin: 10px 0px;
  width: 100%;
}

.post-card img {
  margin: 2px 0;
  width: 100%;
  height: auto;
}

.post-card .body {
  font-family: 'NotoSansKR';

  font-size: 16px;
  width: 100%;
  margin: 16px 0 16px;
}

.category_left {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.category_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.right_icon {
  display: flex;
  align-items: center;
  gap: 1px;
}
