.carousel {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  width: 500px; /* 총 너비 */
  flex-direction: row;
  align-items: center;
  overflow-x: auto; /* 수평 스크롤 활성화 */
  transition: transform 0.5s ease;
  scroll-behavior: smooth; /* 스크롤 부드럽게 */
}

.image-wrapper::-webkit-scrollbar {
  display: none; /* Chrome 및 Safari에서 스크롤바 숨기기 */
}

.image-container {
  position: relative;
  width: 170px;
  display: inline-block;
  flex-shrink: 0;
  transition: transform 0.5s ease;
}

.img {
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(50%);
  position: relative;
}

.list-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.notification {
  display: flex;
  justify-content: end;
}

.text-overlay {
  position: absolute;  
  left: 38%;
  top: 30%;
  color: #FFF;
  font-size: 1.3rem;
  font-weight: bold;
}
