<<<<<<< HEAD
.carousel {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  width:500px;
  flex-direction: row;
  align-items: center;
  transition: transform 0.5s ease;
  gap:70px;
}

.image-container {
  position: relative;
  width: 170px;
  display: inline-block;
  flex-shrink: 0;
  transition: transform 0.5s ease;
  right:-170px;
}

.image-container:not(.active) {
  opacity:1;
}

.img {
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(50%);
  position: relative;
}

.list-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.notification {
  display: flex;
  justify-content: end;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none; 
  cursor: pointer;
  z-index: 10; 
}

.carousel-button:first-child {
  left: 0px; 
}

.carousel-button:last-child {
  right: 0px;
}

.text-overlay{
position: absolute;  
left: 38%;
top:30%;
color: #FFF;
font-size: 1.3rem;
font-weight: bold;
}
=======
.carousel {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  width:500px;
  flex-direction: row;
  align-items: center;
  transition: transform 0.5s ease;
  gap:70px;
}

.image-container {
  position: relative;
  width: 170px;
  display: inline-block;
  flex-shrink: 0;
  transition: transform 0.5s ease;
  right:-170px;
}

.image-container:not(.active) {
  opacity:1;
}

.img {
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(50%);
  position: relative;
}

.list-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.notification {
  display: flex;
  justify-content: end;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none; 
  cursor: pointer;
  z-index: 10; 
}

.carousel-button:first-child {
  left: 0px; 
}

.carousel-button:last-child {
  right: 0px;
}

.text-overlay{
position: absolute;  
left: 38%;
top:30%;
color: #FFF;
font-size: 1.3rem;
font-weight: bold;
}
>>>>>>> develop
