.poll-container {
  display: flex;
  padding-block: 1.5rem;
  flex-direction: column;
  align-items: center;
  background: #282828;
  color: white;
  gap: 1.3rem;
}
.poll-title {
  font-size: 1.3rem;
  font-weight: bold;
}
.poll-option-container {
  display: flex;
  width: 100%;
  height: 10rem;
  justify-content: space-between;
  padding-inline: 5rem;
}

.poll-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 6.5rem;
  }
}

.poll-button {
  margin-top: 0.7rem;
  background-color: transparent;
  cursor: pointer;
}

.poll-subtitle {
  color: #7d7d7d;
  font-size: 0.8rem;
}

.poll-result-container {
  width: 100%;
  height: 10rem;
}

.poll-result-title {
  display: flex;
  padding-inline: 6rem;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.poll-graph-container {
  padding-inline: 2rem;
  position: relative;
}

.poll-grah {
  display: flex;
  padding-inline: 0.5rem;
  margin-top: 2rem;
  align-items: center;
  border-radius: 19px;
  height: 2.5rem;
}

.agree {
  width: 100%;
  background: #609bd5;
}

.disagree {
  position: absolute;
  width: 60%;
  bottom: 0;
  right: 2rem;
  justify-content: flex-end;
  background: #fd3747;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
