.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;

  .category-container {
    display: flex;
    align-items: center;
    width: 80%;

    .category-title {
      width: 6rem;
      font-size: 14px;
      font-weight: normal;
    }

    .category-button {
      display: flex;
      align-items: center;
      background: none;
      cursor: pointer;
    }
  }
}

.category-list {
  width: 80%;
  font-size: 14px;
  font-weight: normal;

  li {
    width: 6rem;
    text-align: center;
  }
}
