.error-message{
  margin: .3rem 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fd3747;
}

.error-message.active {
  margin: .3rem 0; /* active일 때만 margin 설정 */
  margin-left: 35px; /* 또는 다른 스타일 추가 */
}

.searchInput{
  display: flex;
  flex-direction: row;

}

.search-button {
  position: relative;
  right: 30px;
  bottom: -2px;
}