#post-detail {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;

  .top-navigator {
    padding-block: 1rem;
  }
}

#post-detail > :nth-child(2) {
  margin-top: -3.5rem;
}
