.user-info{
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eeeeee;

  .info-title{
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.logout-btn{
  padding-top: 20px;
  width: 100%;
}
.logout-btn{
  font-size: 1rem;
  margin: 0 auto;
  color: #393939;
}