.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.logo {
  margin-top: 100px;
  margin-bottom: 50px;
}

.form-section {
  width: 100%;
  /* max-width: 300px; */
  padding-inline: 3.5rem 3.5rem;
  flex-grow: 1;
}
 
.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.input-wrapper {
  margin-bottom: 20px;
  /* 입력 필드와 에러 메시지를 포함하는 컨테이너의 높이를 고정 */
  height: 70px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: #393939;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #7d7d7d;
  font-size: 16px;
  outline: none;
  height: 30px;
}

.input:focus{
  border-bottom: 2px solid #fd3747;
}

.error {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  height: 15px;
}

.join-link {
  margin-top: auto;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #7d7d7d;
}

.join-link span {
  font-weight: 600;
  color: #393939;
}
   
.submit-button {
  width: 100%;
  padding: 10px 0;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.input-wrapper .input.error {
  border-bottom-color: #ff0000;
}