.title-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-input {
  width: 80%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #eeeeee;
  font-size: 16px;
}
.title::placeholder {
  color: #7d7d7d;
}
.title-input:focus {
  outline: none;
}

.content-input {
  width: 80%;
  height: 300px;
  padding: 12px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #eeeeee;
  resize: none;
}

.content-input::placeholder {
  color: #a9a9a9;
}

.content-input:focus {
  outline: none;
}
