.bottom-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 500px;
  height: auto;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);

  .bottom-modal-line {
    width: 50px;
    height: 5px;
    margin: 10px auto;
    background-color: #ccc;
    border-radius: 10px;
  }

  .bottom-modal-content {
    display: flex;
    justify-content: center;
  }

  .bottom-modal-button {
    margin: 10px auto;
    font-weight: normal;
    font-size: 16px;
    background-color: #ffffff;
  }
}
