/* css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: 'NotoSansKR';
  font-weight: normal;
}

/* section {
  padding-inline: 1.5rem;
} */

button {
  border: none;
  cursor: pointer;
  background: none;
}

/* NotoSansKR Medium */
@font-face {
  font-family: 'NotoSansKR';
  src: url('./assets/fonts/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* NotoSansKR Bold */
@font-face {
  font-family: 'NotoSansKR';
  src: url('./assets/fonts/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* NotoSansKR Regular */
@font-face {
  font-family: 'NotoSansKR';
  src: url('./assets/fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
