.question-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;

  .question-select-button {
    width: 80%;
    height: 50px;
    margin: 12px;
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #7d7d7d;
  }

  .question-selected {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;

    .question-selected-title {
      margin: 12px 0;
      font-size: 16px;
      font-weight: 500;
      color: #393939;
    }

    .question-selected-name {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;
      padding: 1rem;
      border: 1px solid #fd3747;
      border-radius: 5px;
      font-size: 14px;
      color: #393939;
    }

    .question-reselect {
      margin: 1.5rem 0;
      font-size: 14px;
      color: #7d7d7d;
      background: none;
    }

    .question-reselect-error {
      margin: 1.5rem 0;
      font-size: 14px;
      color: #7d7d7d;
      text-align: center;
    }
  }
}
