.interaction-icon {
  display: flex;
  width: 500px;
  margin-top: -1.2rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon-value {
  display: flex;
  margin-bottom: 1rem;
  color: #7d7d7d;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 13px;
}

.icon-value:nth-child(2) {
  svg {
    margin-top: 0.2rem;
  }
}

.icon-value:nth-child(3) {
  svg {
    margin-top: 0.2rem;
  }
}
